body {
    display:flex;
    justify-content:end;
    align-items: center;
    background-color: wheat;
    font-size: xx-large;
}
div {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 300px;
}