body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    font-size: xx-large;
    font-weight: 700;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    align-items: center;
}